.image_no{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.image_yes{

    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}